{
  "dark": {
    "primary": "{{colors.primary.dark.hex}}",
    "primaryText": "{{colors.on_primary.dark.hex}}",
    "primaryContainer": "{{colors.primary_container.dark.hex}}",
    "onPrimaryContainer": "{{colors.on_primary_container.dark.hex}}",
    "secondary": "{{colors.secondary.dark.hex}}",
    "secondaryContainer": "{{colors.secondary_container.dark.hex}}",
    "onSecondaryContainer": "{{colors.on_secondary_container.dark.hex}}",
    "tertiary": "{{colors.tertiary.dark.hex}}",
    "tertiaryContainer": "{{colors.tertiary_container.dark.hex}}",
    "onTertiaryContainer": "{{colors.on_tertiary_container.dark.hex}}",
    "surface": "{{colors.surface.dark.hex}}",
    "surfaceText": "{{colors.on_surface.dark.hex}}",
    "surfaceVariant": "{{colors.surface_variant.dark.hex}}",
    "surfaceVariantText": "{{colors.on_surface_variant.dark.hex}}",
    "surfaceTint": "{{colors.surface_tint.dark.hex}}",
    "surfaceBright": "{{colors.surface_bright.dark.hex}}",
    "surfaceDim": "{{colors.surface_dim.dark.hex}}",
    "background": "{{colors.surface.dark.hex}}",
    "backgroundText": "{{colors.on_surface.dark.hex}}",
    "outline": "{{colors.outline.dark.hex}}",
    "outlineVariant": "{{colors.outline_variant.dark.hex}}",
    "surfaceContainerLowest": "{{colors.surface_container_lowest.dark.hex}}",
    "surfaceContainerLow": "{{colors.surface_container_low.dark.hex}}",
    "surfaceContainer": "{{colors.surface_container.dark.hex}}",
    "surfaceContainerHigh": "{{colors.surface_container_high.dark.hex}}",
    "surfaceContainerHighest": "{{colors.surface_container_highest.dark.hex}}",
    "inverseSurface": "{{colors.inverse_surface.dark.hex}}",
    "inverseOnSurface": "{{colors.inverse_on_surface.dark.hex}}",
    "scrim": "{{colors.scrim.dark.hex}}",
    "error": "{{colors.error.dark.hex}}",
    "errorText": "{{colors.on_error.dark.hex}}",
    "errorContainer": "{{colors.error_container.dark.hex}}",
    "errorContainerText": "{{colors.on_error_container.dark.hex}}"
  },
  "light": {
    "primary": "{{colors.primary.light.hex}}",
    "primaryText": "{{colors.on_primary.light.hex}}",
    "primaryContainer": "{{colors.primary_container.light.hex}}",
    "onPrimaryContainer": "{{colors.on_primary_container.light.hex}}",
    "secondary": "{{colors.secondary.light.hex}}",
    "secondaryContainer": "{{colors.secondary_container.light.hex}}",
    "onSecondaryContainer": "{{colors.on_secondary_container.light.hex}}",
    "tertiary": "{{colors.tertiary.light.hex}}",
    "tertiaryContainer": "{{colors.tertiary_container.light.hex}}",
    "onTertiaryContainer": "{{colors.on_tertiary_container.light.hex}}",
    "surface": "{{colors.surface.light.hex}}",
    "surfaceText": "{{colors.on_surface.light.hex}}",
    "surfaceVariant": "{{colors.surface_variant.light.hex}}",
    "surfaceVariantText": "{{colors.on_surface_variant.light.hex}}",
    "surfaceTint": "{{colors.surface_tint.light.hex}}",
    "surfaceBright": "{{colors.surface_bright.light.hex}}",
    "surfaceDim": "{{colors.surface_dim.light.hex}}",
    "background": "{{colors.surface.light.hex}}",
    "backgroundText": "{{colors.on_surface.light.hex}}",
    "outline": "{{colors.outline.light.hex}}",
    "outlineVariant": "{{colors.outline_variant.light.hex}}",
    "surfaceContainerLowest": "{{colors.surface_container_lowest.light.hex}}",
    "surfaceContainerLow": "{{colors.surface_container_low.light.hex}}",
    "surfaceContainer": "{{colors.surface_container.light.hex}}",
    "surfaceContainerHigh": "{{colors.surface_container_high.light.hex}}",
    "surfaceContainerHighest": "{{colors.surface_container_highest.light.hex}}",
    "inverseSurface": "{{colors.inverse_surface.light.hex}}",
    "inverseOnSurface": "{{colors.inverse_on_surface.light.hex}}",
    "scrim": "{{colors.scrim.light.hex}}",
    "error": "{{colors.error.light.hex}}",
    "errorText": "{{colors.on_error.light.hex}}",
    "errorContainer": "{{colors.error_container.light.hex}}",
    "errorContainerText": "{{colors.on_error_container.light.hex}}"
  }
}
